p {
  border-width: 12px;
  border-color: black;
  border-style: solid;

  padding: 40px;
  margin: 50px;
}
span {
  border-width: 11px;
  border-color: black;
  border-style: solid;

  padding: 30px;
  margin: 20px;
}

button {
  border-width: 17px;
  border-color: black;
  border-style: solid;

  padding: 50px;
  margin: 33px;
}
